<!-- Header User-->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-3">Solicitud completada </h1>
      <p>En brve recibirás un correo o nos comunicaremos contigo para dar seguimiento a tu pedido </p>
      <p>Contacto teléfono 7223456789, email edgar.mh.0307@gmail.com, facebook saulf</p>
    </header>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <!--li class="breadcrumb-item active">Orden</li-->
      </ol>
  </div>
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">CoMarket fit 2024</p>
    </div>
    <!-- /.container -->
  </footer>


