<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Market Fit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="token !== null && token.type === 'ADMIN'" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ADMIN
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/admin/category">Categorias</a></li>
            <li><a class="dropdown-item" routerLink="/admin/product">Productos</a></li>
            <li><a class="dropdown-item" href="#">Usuarios</a></li>
            <li><a class="dropdown-item" routerLink="/admin/orders">Ordenes</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div *ngIf="token !== null && token.type === 'USER'" class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul-->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/cart/sumary']">Carrito</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/logout']">Logout</a></li>
      </ul>
    </div>
    <div *ngIf="token === null" class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul-->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/user/login']">Login</a></li>
      </ul>
    </div>
  </div>

</nav>