<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Market Fit <small>Estadísticas</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a>Número de visitas: {{countVisits}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>