<!-- Header User-->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="card-body">
          <h4>Registro de usuario</h4>

        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label>(*) Campos obligatorios</label>
    </div>

    <div class="form-group">
      <label for="name">* Nombre:</label>
      <div *ngIf="errors.firstName" style="color:red;">{{ errors.firstName }}</div>
      <input [(ngModel)]="name" type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre"
        autocomplete="off">

    </div>

    <div class="form-group">
      <label for="surname">Apellido:</label> <input [(ngModel)]="surname" type="text" class="form-control" id="surname"
        name="surname" placeholder="Ingrese su Apellido" autocomplete="off">

    </div>

    <div class="form-group">
      <label for="email">* Email:</label>
      <div *ngIf="errors.email" style="color:red;">{{ errors.email }}</div>
      <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email"
        placeholder="Ingrese su email" autocomplete="off">

    </div>

    <div class="form-group">
      <label for="address">Facebook:</label> <input [(ngModel)]="address" type="text" class="form-control" id="address"
        name="address" placeholder="Ingrese su dirección" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="cellphone">* Teléfono:</label>
      <div *ngIf="errors.cellphone" style="color:red;">{{ errors.cellphone }}</div>
      <input [(ngModel)]="cellphone" type="text" class="form-control" id="cellphone" name="cellphone"
        placeholder="Ingrese su teléfono" autocomplete="off">

    </div>

    <div class="form-group">
      <label for="password">* Contraseña</label>
      <div *ngIf="errors.password" style="color:red;">{{ errors.password }}</div>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password"
        placeholder="Ingrese su contraseña" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="password2">Contraseña</label>
      <div *ngIf="errors.password2" style="color:red;">{{ errors.password2 }}</div>
      <input [(ngModel)]="password2" type="password" class="form-control" id="password2" name="password"
        placeholder="Confirmar contraseña" autocomplete="off">
    </div>

    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>