<app-header-user></app-header-user>

<!-- Page Content List Products-->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        SAGAFITMI <small>Órdenes</small>
    </h1>
    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>

    <!--ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    </ol-->

    <div class="row">
        <div class="col-lg-6">
            <div class="combo-box">
                <select id="orderState" [(ngModel)]="selectedOrderState" (change)="onOrderStateChange($event)">
                    <option *ngFor="let state of orderStates" [value]="state">{{ orderStateDescriptions[state] }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <label for="name">Nombre:</label>
            <input [(ngModel)]="fullName" type="text" id="name" name="name">

        </div>
        <div class="col-lg-6">
            <label for="email">Email:</label>
            <input [(ngModel)]="email" type="text" id="email" name="email">
        </div>
        <div class="col-lg-6">
            <button (click)="fillTable()" class="btn btn-dark">Buscar </button>
        </div>
    </div>
    <p></p>


    <h2>Órdenes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Estatus</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody *ngFor="let order of orders">
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.dateCreated | date: 'dd/MM/yyyy'}}</td>
                <td>{{order.userName}}</td>
                <td>{{stateDescription[order.orderState]}}</td>
                <td><button class="btn btn-warning" [routerLink]="['/admin/orders', order.id]">Detalle</button> </td>

            </tr>
        </tbody>
    </table>
    <app-pagination [currentPage]="currentPage" [totalPages]="calculateTotalPages()"
        (pageChange)="onPageChange($event)">
    </app-pagination>

</div>